<div id="wrap" [@transition]='state'>
  <h2>HOW-TO</h2>
  <h2>INFORMATION</h2>
  <ul>
    <li>Just use our easy itemizer for things you need to get done!</li>
    <li>This tool is built using the most advanced development technologies, so that you can be assured your to-do's are tracked.</li>
  </ul>
  <br>
  <br>
  <h2>TODO-LIST INFORMATION</h2>
  <ul>
    <li><b>Version&#58;</b><span style="color: #000;">&nbsp;1.0.0</span><a [routerLink]="['update']">UPGRADE</a></li>
    <li><b>Year Made&#58;</b><span style="color: #000;">&nbsp;November 2017</span></li>
  </ul>
</div>